<div class="menu-container">
    <div class="menu-item">
        <i class="pi pi-chart-bar"></i>
        <span>Résumé</span>
    </div>
    <div class="menu-item">
        <i class="pi pi-list-check"></i>
        <span>Budget</span>
    </div>
    <div class="menu-item">
        <i class="pi pi-plus-circle"></i>
        <span>Ajouter</span>
    </div>
    <div class="menu-item">
        <i class="pi pi-envelope"></i>
        <span>Enveloppes</span>
    </div>
    <div class="menu-item" (click)="onNavigateToProfile()">
        <i class="pi pi-user"></i>
        <span>Profil</span>
    </div>
</div>
