<div class="request-password-reset">
    <h1>Budzio</h1>
    <span class="pb-4">Je souhaite réinitialiser mon mot de passe.</span>

    <form [formGroup]="requestPasswordResetForm" (ngSubmit)="onSendEmail()">
        <!-- Email -->
        <div>
            <p-iftalabel>
                <input pInputText id="email" autocomplete="off" formControlName="email"/>
                <label for="email">Email *</label>
            </p-iftalabel>
            @if (email?.touched && email?.errors) {
                <span class="size-10 red pl-1">L'email est obligatoire.</span>
            }
        </div>
        <p-button type="submit" label="Recevoir l'email de réinitialisation"/>
    </form>

    <div class="flex gap-1">
        <span class="size-12">Finalement, j'ai retrouvé mon mot de passe.</span>
        <span class="size-12 green cursor-pointer" (click)="onLogin()">Se connecter !</span>
    </div>
    <p-toast (onClose)="onCloseToast()"/>
</div>
