<div class="auth-container">
    <div class="auth-content">
        <h1>Budzio</h1>
        <span class="pb-4">Je gère mon budget au jour le jour.</span>

        <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <!-- Email -->
            <div>
                <p-iftalabel>
                    <input pInputText id="email" autocomplete="off" formControlName="email"/>
                    <label for="email">Email *</label>
                </p-iftalabel>
                @if (email?.touched && email?.errors) {
                    <span class="size-10 red pl-1">L'email est obligatoire.</span>
                }
            </div>
            <!-- Password -->
            <div>
                <p-iftalabel>
                    <input pInputText [type]="isShowPassword ? 'text' : 'password'" id="password" autocomplete="off" formControlName="password"/>
                    <label for="password">Mot de passe *</label>
                    <i (click)="toggleDisplayPassword()" class="icon pi" [ngClass]="{ 'pi-eye-slash': isShowPassword, 'pi-eye': !isShowPassword}"></i>
                </p-iftalabel>
                <div class="flex justify-content-between gap-1 pt-1">
                    @if (password?.touched && required) {
                        <span class="size-10 red pl-1">Le mot de passe est obligatoire.</span>
                    }
                    <span class="size-12 green cursor-pointer" (click)="forgotPassword()">J'ai oublié mon mot de passe !</span>
                </div>
            </div>
            <p-button type="submit" label="Se connecter" icon="pi pi-check" [loading]="isLoading" />
        </form>

        <div class="flex gap-1">
            <span class="size-12">Vous n'avez pas encore de compte ?</span>
            <span class="size-12 green cursor-pointer" (click)="onNavigateToSignup()">S'inscrire !</span>
        </div>
    </div>
</div>
