<div class="profile-container">
    <div class="profile-header w-100 flex flex-column gap-3 justify-content-center align-items-center">
        <i class="pi pi-user"></i>
        <div class="flex gap-1 align-items-center">
            <strong>{{ user?.firstname }}</strong>
            <strong>{{ user?.lastname }}</strong>
        </div>
    </div>

    <div class="profile-menu">
        <div class="flex gap-3 align-items-center justify-content-center cursor-pointer">
            <span (click)="onLogout()">Se déconnecter</span>
            <i class="pi pi-sign-out"></i>
        </div>
    </div>

    @if (isMobileScreen) {
        <div class="menu-mobile">
            <bdz-menu-mobile></bdz-menu-mobile>
        </div>
    }
</div>
