/* You can add global styles to this file, and also import other style files */
@use "assets/styles/colors" as colors;

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: light;
    }
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    h1 {
        margin: 0;
    }

    span {
        font-size: 14px;
    }

    .pi {
        font-size: 10px;
    }
}

.size-14 {
    font-size: 14px;
}

.size-12 {
    font-size: 12px;
}

.size-10 {
    font-size: 10px;
}

.red {
    color: colors.$rouge-erreur;
}

.green {
    color: colors.$vert-eau;
}

.p-iftalabel {

    input {
        width: 100%;
        font-size: 14px;
    }

    label {
        font-size: 14px;
    }
}
