$vert-gris-doux: #6ba696;
$vert-turquoise-clair: #66c3ae;
$vert-menthe-pale: #9fd2b6;
$vert-bleu-profond: #3f7f7b;
$vert-eau: #3f9f90;
$vert-pastel: #c3e1d2;
$vert-sapin: #487e70;
$vert-fonce: #2f5249;
$rouge-erreur: #dc2626;
