<div class="reset-password-container">
    <div class="reset-password">
        <h1>Budzio</h1>
        <span class="pb-4">Je choisis un nouveau mot de passe.</span>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onReset()">
            <!-- New password -->
            <div>
                <p-iftalabel>
                    <input pInputText [type]="isShowNewPassword ? 'text' : 'password'" id="newPassword" autocomplete="off" formControlName="newPassword"/>
                    <label for="newPassword">Nouveau mot de passe *</label>
                    <i (click)="toggleDisplayNewPassword()" class="icon pi" [ngClass]="{ 'pi-eye-slash': isShowNewPassword, 'pi-eye': !isShowNewPassword}"></i>
                </p-iftalabel>
                <div class="flex justify-content-between gap-1 pt-1">
                    @if (newPassword?.touched && required) {
                        <span class="size-10 red pl-1">Le mot de passe est obligatoire.</span>
                    }
                    @if (!required) {
                        <div class="flex flex-column gap-1 pl-1">
                            <div class="check-password pt-1">
                                <i class="pi" [ngClass]="{ 'pi-times red': !weakPassword?.hasUpperCase, 'pi-check green': !weakPassword || weakPassword.hasUpperCase }"></i>
                                <span class="size-10 pl-1" [ngClass]="{ 'red': !weakPassword?.hasUpperCase, 'green': !weakPassword || weakPassword.hasUpperCase }">
                            Au moins une majuscule est requise.
                        </span>
                            </div>
                            <div class="check-password">
                                <i class="pi" [ngClass]="{ 'pi-times red': !weakPassword?.hasLowerCase, 'pi-check green': !weakPassword || weakPassword.hasLowerCase }"></i>
                                <span class="size-10 pl-1" [ngClass]="{ 'red': !weakPassword?.hasLowerCase, 'green': !weakPassword || weakPassword.hasLowerCase }">
                            Au moins une minuscule est requise.
                        </span>
                            </div>
                            <div class="check-password">
                                <i class="pi" [ngClass]="{ 'pi-times red': !weakPassword?.hasNumber, 'pi-check green': !weakPassword || weakPassword.hasNumber }"></i>
                                <span class="size-10 pl-1" [ngClass]="{ 'red': !weakPassword?.hasNumber, 'green': !weakPassword || weakPassword.hasNumber }">
                            Au moins un chiffre est requis.
                        </span>
                            </div>
                            <div class="check-password">
                                <i class="pi" [ngClass]="{ 'pi-times red': !weakPassword?.hasSpecialChar, 'pi-check green': !weakPassword || weakPassword.hasSpecialChar }"></i>
                                <span class="size-10 pl-1" [ngClass]="{ 'red': !weakPassword?.hasSpecialChar, 'green': !weakPassword || weakPassword.hasSpecialChar }">
                                Au moins un caractère spécial est requis : (),.?
                            </span>
                            </div>
                            <div class="check-password">
                                <i class="pi" [ngClass]="{ 'pi-times red': !weakPassword?.isLong, 'pi-check green': !weakPassword || weakPassword.isLong }"></i>
                                <span class="size-10 pl-1" [ngClass]="{ 'red': !weakPassword?.isLong, 'green': !weakPassword || weakPassword.isLong }">
                            Au moins 10 caractères.
                        </span>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- Confirm password -->
            <div>
                <p-iftalabel>
                    <input pInputText [type]="isShowConfirmPassword ? 'text' : 'password'" id="confirmPassword" autocomplete="off" formControlName="confirmPassword"/>
                    <label for="confirmPassword">Confirmation *</label>
                    <i (click)="toggleDisplayConfirmPassword()" class="icon pi" [ngClass]="{ 'pi-eye-slash': isShowConfirmPassword, 'pi-eye': !isShowConfirmPassword }"></i>
                </p-iftalabel>
                @if (resetPasswordForm.errors?.['passwordMismatch'] && confirmPassword?.touched) {
                    <span class="size-10 red pl-1">
                    Les mots de passe ne correspondent pas.
                </span>
                }
            </div>
            <p-button type="submit" label="Réinitialiser le mot de passe"/>
        </form>
        <div class="flex gap-1">
            <span class="size-12">Attendez ! J'ai retrouvé mon mot de passe.</span>
            <span class="size-12 green cursor-pointer" (click)="onLogin()">Se connecter !</span>
        </div>
    </div>
    <p-toast (onClose)="onCloseToast()"/>
</div>
